/* If you're looking for hints, tips, and tricks, you're not going to find them in here. */

html {
    font-family: sans-serif;
    padding: 0 1em;
    background: #fafafa;
}

body {
    max-width: 1024px;
    margin: 0 auto;
}

body > nav {
    margin-top: 2em;
}

nav ol {
    padding: 0;
}

nav ol > li {
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
    margin-right: 1.5em;
    margin-bottom: 1.25em;
}

nav ol span {
    display: block;
    margin-bottom: .5em;
    border-bottom: 2px solid #1dacd6;
}

nav ul {
    padding-left: 1.25em;
}

body > h1 + p, body > nav:first-child {
    margin-top: 6em;
}

body > h1 + p + nav {
    margin-top: 1em;
}

body > nav > a {
    font-size: smaller;
}

h1 {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 0;
    padding: .75em;
    font-size: 2em;
    text-align: center;
    text-shadow: 1px 1px #1683a3;
    color: white;
    background: #1dacd6; /* Cerulean (Crayola); Why not? */
}

h1:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 1px;
    left: 0;
    z-index: -1;
    box-shadow: 0 1px 2px rgba(51, 51, 51, .7);
}

h1 + time {
    float: right;
    margin-top: -2.25em;
}

h1 + time:before {
    content: "Published ";
}

time {
    font-size: smaller;
    font-weight: bold;
    color: #1dacd6;
}

li time:before {
    content: "(";
}

li time:after {
    content: ")";
}

aside, .notice {
    padding: 1em;
    font-size: smaller;
    /* Darker version of Cerulean passes constrast inspection better. Thank you Jonathan Snook: http://snook.ca/technical/colour_contrast/colour.html */
    color: #2a52be;
    background: #f5f8f9;
    border: 1px solid #eceff0;
    border-radius: 2px;
}

article > div {
    text-align: center;
}

article > div:not(.example) {
    font-size: smaller;
}

article > div > a {
    display: inline-block;
    text-align: left;
    text-decoration: none;
}

article > div > a img, article > div > img {
    display: block;
    border: none;
    border-radius: 2px;
}

article > div:not(.example) > img {
    margin: .25em auto;
}

p span, aside span {
    font-style: italic;
}

span.dfn {
    font-style: normal;
    border-bottom: 1px dotted;
}

.example div span {
    font-style: normal;
}

pre, .box {
    max-width: 97%;
    max-width: calc(100% - 2em - 2px);
    overflow-x: auto;
    padding: 1em;
    background: white;
    border: 1px solid #f0f0f0;
    border-radius: 2px;
}

.example {
    overflow: hidden;
    text-align: left;
}

.example > pre, .example > div, .example > li {
    list-style-type: none;
    float: left;
    margin: 0;
    margin-right: 2em;
}

.example div {
    text-align: center;
}

.example h3, .example h4 {
    margin-top: 0;
    font-size: medium;
}

.sh_html + div + aside {
    overflow: hidden;
    margin-top: 9.25em;
    padding-bottom: 0;
    background: none;
    border: none;
}

.example > p {
    clear: left;
    padding-top: 1em;
}

.example aside {
    overflow: hidden;
    padding-bottom: 0;
    background: none;
    border: none;
}

.example .live {
    text-align: left;
}

footer {
    margin-top: 3em;
    margin-bottom: .5em;
    font-size: smaller;
    text-align: center;
}
